
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body, html {
    font-family: 'Poppins';
    height: 100%;
    overflow-x: hidden;
  }
  
  
  .hero-section {
    position: relative;
    width: 100%;
    height: 834px;
    background:linear-gradient(180deg, #000 -6%, rgba(0, 0, 0, 0.50) 14.72%, rgba(0, 0, 0, 0.00) 50%),
    url('assets/MAIN-MAIN.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100px;
  }

  .navbar .logo {
    font-size: 26px;
    font-weight: 600;
    color: white;
  }
  
.nav-links {

  margin-left: -90px;
  margin-top: -8px;
}

  .navbar .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }
  
  .navbar .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .actions span{
    color: white;
    font-size: 18px;
    margin-top: -8px;
  }
  
  .get-started-button {
    background-color: #91B72E;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: -8px;
  transition: all 0.7s ease;
}


.get-started-button:hover {
background-color: #91B72E; 
color: #000000;
padding: 10px 15px 10px 20px;
}
  
  
  .text-box {
    background-color: white;
    padding: 40px 52px;
    width: 600px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
     margin-left: 80px;
    margin-top: 150px;
    margin-bottom: auto;
    z-index: 2;
    position: relative;
    top: 100px; 
    gap: 10px;
    align-items: center;
  }
  
  .text-box-content {
    flex: 1 0 0;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
 }


  .text-box-p {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }

  .text-box p {
    color: var(--para-grey-text, #67656E);
    font-family: Poppins;;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }
  
  .text-box h1 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 50px;
  }
  
  .text-box h1 strong {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -1px;
  }


  .button {
    background-color: #327AAC;
    color: white;
    padding: 14px 35px 14px 35px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.7s ease;
  }


.button:hover {
  background-color: #b6e1f4; 
  color: #000000;
  padding: 14px 40px 14px 35px;
}

.button-text {
  display: inline-block;
  transition: transform 0.5s ease;
}

.button:hover .button-text {
  transform: translateX(10px);
}


  .wellness {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    display: flex;
    padding: 100px 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    height: 600px;
  }
  
  .wellness-content {
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
  }
  
  .balloon-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 400px;
   
  }
  
  .wellness-label {
    color: var(--para-grey-text, #67656E);
    text-align: center;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.3px; 
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .wellness-heading {
    color: var(--text, #252628);
    text-align: center;
    font-family: Poppins;
    font-size: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 61.6px; 
    letter-spacing: -1px;
  }
  
  .wellness-heading strong {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 61.6px;
    letter-spacing: -1px;
  }
  
  .wellness-subtext {
    color: var(--para-grey-text, #67656E);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
    padding-top: 15px;
  }



  .picture-section {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    padding: 0px 90px 100px 90px;
    font-family: 'Poppins', sans-serif;
    height: 581px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .image-1 {
    position: relative;
  }
  
  .image-1 img,
  .grid-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }
  
  .quote-box {
    position: absolute;
    bottom: 50px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .quote-box p {
    color: var(--text, #252628);
    font-family: "Public Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }
  
  .quote-box .author {
    color: var(--para-grey-text, #67656E);
    font-family: Literata;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.9px; 
    margin-top: 10px;
  }

  .right-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }




 .hr-solution {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    padding: 30px 90px 100px 90px;
    font-family: 'Poppins', sans-serif;
    height: 400px;
  }
  
  .hr-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 60px;
  }
  
  .left-div {
    flex: 1;
    min-width: 300px;
    gap: 20px;
  }
  
  .subheading {
    display: flex;
    height: 20.3px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.3px; 
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .left-div h2 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 61.6px; 
    letter-spacing: -1px;
  }
  
  .left-div h2 strong {
    font-weight: 700;
  }
  
  .subheading2 {
    display: flex;
    width: 486px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;

  }
  
  .aboutus-btn {
    display: flex;
    width: 120px;
    height: 45px;
    padding: 15px 15px 15px 15px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--Blue-blue-500, #347AA4);
    color: var(--Blue-blue-500, #347AA4);
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal ;
    margin-top: 20px;
    transition: all 0.3s ease;
  }

  .aboutus-btn:hover {
    border:2px solid #5b08a393 ; 
    color: #821ade93;
  }
  
  
  .right-div {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    display: flex;
}
  
  .solutions h4 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-xl, 30px); 
  }
  
  .solutions p {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }





  .why-choose-us {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    padding: 80px 80px;
    font-family: 'Poppins', sans-serif;
    height: 550px;
    

  }
  
  .whychooseus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 90px;
  }
  
  .image img {
    width: 600px;
    height: 470px;
    border-radius: 30px;
  }
  
  .choose-text {
    flex: 1;
    min-width: 300px;
  }
  
  .choose-subheading {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.3px; 
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .choose-text h2 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 61.6px; 
    letter-spacing: -1px;
    margin-top: 10px;
  }
  
  .choose-text h2 strong {
    font-weight: 700;
  }
  
  .choose-description {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-top: 15px;
  }



  .challenges {
    padding: 100px 90px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    
  }
  
  .challenges-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .challenges-text {
    flex: 1;
    min-width: 300px;
    
  }
  
  .challenges-subheading {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .challenges-text h2 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    margin-top: 10px;

  }
  
  .challenges-text h2 strong {
    font-weight: 700;
  }
  
  .challenges-description {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
    margin-top: 10px;
  }
  
  .challenges-button {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--Blue-blue-500, #347AA4);
    color: var(--Blue-blue-500, #347AA4);
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    margin-top: 20px;
   transition: all 0.7s ease;
}


.challenges-button:hover {
background-color: #6e5639; 
color: #ffffff;
padding: 10px 30px 10px 30px;
}

.ch-btn-text {
  display: inline-block;
  transition: transform 0.5s ease;
}

.ch-btn-text:hover .challenges-button {
  transform: translateX(10px);
}

  

  .challenges-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex: 1;
    min-width: 300px;
    justify-content: center;
  }
  
  .challenges-img1 {
   display: flex;
   width: 280px;
   height: 400px;
   padding-left: 0.01px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   margin-bottom:-130px ;
  }


.challenges-img2 {
  display: flex;
  width: 280px;
  height: 400px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 50px;
 }




.begin {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    padding: 100px 90px;
    font-family: 'Poppins', sans-serif;
   }
  
  .begin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .begin-image img {
    width: 600px;
    height: 470px;
    border-radius: 30px;
  }
  
  .begin-text {
    flex: 1;
    min-width: 300px;
  }
  
  .begin-subheading {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20.3px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .begin-text h2 {
    color: var(--text, #252628);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 61.6px; 
    letter-spacing: -1px;
  }
  
  .begin-text h2 strong {
    font-weight: 700;
  }
  
  .begin-description {
    color: var(--para-grey-text, #67656E);
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }


  .begin-button {
    display: flex;
    width: 120px;
    height: 45px;
    padding: 15px 15px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid var(--Blue-blue-500, #347AA4);
    color: var(--Blue-blue-500, #347AA4);
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal ;
    margin-top: 20px;
    transition: all 0.6s ease;
  }


  .begin-button:hover {
    background-color: rgb(224, 209, 34);
    border: 1px solid rgb(230, 196, 63);
    color: #000;
  }



 .StepChallenges {
    padding: 100px 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    height: 1400px;
   
  }
  
  .StepChallenges-container {
    text-align: center;
  }
  
  .StepChallenges-text h2 {
    color: var(--text, #252628);
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 61.6px; 
    letter-spacing: -1px;
  }
  
  .StepChallenges-text h2 strong {
    font-weight: 700;
  }
  
  .StepChallenges-text p {
    color: var(--para-grey-text, #67656E);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27.9px; 
  }
  
  .StepChallenges-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 80px;
  }
  
  .StepChallenges-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .StepChallenges-card {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    width: 270px;
    height: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .StepChallenges-card img {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
  }
  
  .StepChallenges-card h3 {
    color: var(--text, #252628);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-xl, 30px);
    text-decoration: none;
  }
  
  .StepChallenges-card a {
    color: var(--Green-green-500, #91B72E);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    transition: all 0.5s ease-in-out;
  }

  .StepChallenges-card a:hover {
    color: rgb(4, 72, 4);
  }


.StepChallenges-button-container {
  justify-content: center;
  display: flex;
}

.center-button {
  display: flex;
max-width: 529.92px;
padding: 15px 26.6px 15px 36px;
align-items: center;
gap: 10px;
border-radius: 30px;
border: 1px solid var(--Blue-blue-500, #347AA4);
background: var(--Blue-blue-500, #347AA4);
color: #FFF;
font-family: "Public Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
transition: all 0.2s ease;
cursor: pointer;
margin-top: 40px;
}


.center-button:hover {
  background-color: #022d4f;
  padding: 15px 32px 15px 36px;
}
  



.how-it-works {
    padding: 90px 90px 90px;
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    text-align: center;
    height: 606px;
  }
  
  .works-text h2 {
    color: var(--text, #252628);
    text-align: center;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 61.6px; 

  }

  .works-text h2 strong {
   font-weight: 700;
  }
  
  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
  }
  
  .step {
   
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .step-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
  
  .step p {
    color: var(--para-grey-text, #67656E);
    text-align: center;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    width: 100%;

  }
  
  .step a {
    color: var(--DarK-Blue, #253853);
    text-align: center;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  
 .arrow-step {
  margin-top: -90px;
  width: 100px;

 }


.features-section {
  padding: 100px 90px;
  background: linear-gradient(90deg, #eef2fb 0%, #ecf2f2 50.5%, #eafff5 100%);
}

.features-content {
  background-color: white;
  padding: 70px;
  border-radius: 30px;
}

.p {
  color: var(--para-grey-text, #67656E);
font-family: "Public Sans";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20.3px;
letter-spacing: 2px;
text-transform: uppercase;
}

.features-header h2 {
  color: var(--text, #252628);
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 300;
line-height: 61.6px; 
letter-spacing: -1px;
}

.features-header h2 strong {
  font-weight: 700;
}

.features-header p {
  color: var(--para-grey-text, #67656E);
font-family: "Public Sans";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 27.9px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  gap: 40px;
}

.features-text {
  flex: 1;
}

.feature-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.feature-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 4px;
  background-color: #347AA4;
  border-radius: 2px;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
}

.feature-item:hover::before {
  opacity: 1;
  transform: scaleY(1);
}

.feature-item h3 {
  color: var(--text, #252628);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: var(--Line-height-text-xl, 30px); 
}

.feature-item p {
  color: var(--para-grey-text, #67656E);
font-family: "Public Sans";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 27.9px; 
}

.features-image {
  flex: 1;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.features-image img {
  width: 100%;
  max-width: 600px;
  height: 460px;
  margin-bottom: 0%;
  border-radius: 10px;
  transition: opacity 0.6s ease-in-out;
  opacity:(1);
  display: block;
  margin-top: -10px;
}

 
  .clients {
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    padding: 100px 90px 0px 90px;
    height: 470px;
  }


.clients-Container {
 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}


.clients-main {
  display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}


.clients-text {
  flex: 1;
}

.clients-text p {
  color: var(--para-grey-text, #67656E);
font-family: "Public Sans";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20.3px; 
letter-spacing: 2px;
text-transform: uppercase;
display: flex;
height: 20.3px;
flex-direction: column;
justify-content: center;
align-self: stretch;
}

.clients-text h2 {
  color: var(--text, #252628);
  font-family: "poppins";
  font-size: 46px;
  font-style: normal;
  font-weight: 300;
}

.clients-text h2 strong {
  font-weight: 700;
}


.clients-text2 {

  padding-left: 40px;
}

.clients-text2 p {
  color: var(--para-grey-text, #67656E);
font-family: "Public Sans";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 27px;
}


.clients-logos {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}


.clients-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}


.logo img {
  max-width: 120px;
  max-height: 50px;
  object-fit: contain;
  opacity: 0.7;
  }


  

  .requestnow {
    padding: 100px 90px 0px 90px;
    position: relative;
    background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
    
  }
  
  .requestnow-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    background:linear-gradient(180deg, #000 -6%, rgba(0, 0, 0, 0.50) 14.72%, rgba(0, 0, 0, 0.00) 50% ),
    url('assets/6d04e84c2823ae6faeb40ed6cffb592297748d46\ \(2\).jpg') no-repeat center center;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .requestnow-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    object-fit: cover;
    display: flex;
    border-radius: 20px;
  }
  
  .requestnow-text {
    position: absolute;
    top: 50%;
    left: 8%;
    color: white;
   font-family: poppins;
  }
  
  .requestnow-text p {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  
  .requestnow-text h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .requestnow-text h2 strong {
    font-weight: 700;
  }
  
  .requestnow-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #85dc65;
    color: black;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

.requestnow-button:hover {
  padding: 12px 30px 12px 30px;
}


.review {
  background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
  padding: 80px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  height: 548px;
}


.review-container {
  max-width: 900px;
  margin: 0 auto;
}


.review-heading h2 {
  color: var(--text, #252628);
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
}

.review-heading h2 strong {
  font-weight: 700;
}

.review-heading p {
  color: var(--para-grey-text, #67656E);
  text-align: center;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  margin-top: 10px;
}


.stars {
  font-size: 22px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 30px;
}


.review-content p {
  color: #190D39;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
}


.review-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.review-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.review-profile-info {
  text-align: left;
}

.review-profile-info h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.review-profile-info p {
  font-size: 13px;
  color: #777;
  margin: 2px 0 0;
}


.review-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  border: 1px solid black;
}

.dot-active {
  background-color: #000000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}






.faq-section {
  background: linear-gradient(90deg, #EEF2FB 0%, #ECF2F2 50.5%, #EAF5F5 100%);
 padding: 100px 90px;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.faq-left {
  width: 40%;
}

.small-title {
  text-transform: uppercase;
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.faq-left h2 {
  font-size: 34px;
  font-weight: 600;
}

.faq-left h2 strong {
  font-weight: 700;
}

.faq-image {
  margin-top: 30px;
  max-width: 100%;
}

.faq-right {
  width: 55%;
}


.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-header {
  background-color: white;
  border: none;
  padding: 18px 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 480px;
}

.accordion-header::after {
  content: '+';
  position: absolute;
  right: -30px;
  font-size: 22px;
  transition: transform 0.3s ease;
  gap: 30px;
}

.accordion-header.active::after {
  content: '−';
}

.accordion-body {
  display: none;
  padding: 0 20px 20px;
  font-size: 16px;
  color: #333;
}

.accordion-body.show {
  display: block;
  line-height: 1.5;
}
 
 
 

.footer {
  background-color: #253853;
  color: #ffff;
  padding: 80px 80px 80px 80px;
  font-family: 'Segoe UI', sans-serif;
  height: 682px;
  border-radius: 5% 5% 0% 0%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-column {
  flex: 1 1 240px;
  min-width: 200px;
  gap: 20px;
}


.footer-column p {
  color: #FFF;
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 27.9px; 
}

.footer-logo {
  max-width: 120px;
  margin-bottom: 15px;
}

.footer-form {
  display: flex;
  margin: 20px 0;
}

.footer-form input {
  flex: 1;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
}

.footer-form button {
  padding: 10px 20px;
  background-color: #90ee00;
  color: #000;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 20px;
}

.footer-socials a {
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.footer-socials img {
  width: 24px;
  height: 24px;
}


.copyright {
  font-size: 14px;
  margin-top: 20px;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.footer-column h4 {
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  gap: 10px;
}

.footer-column ul li {
  color: #FFF;
  font-family: "Public Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
}












